<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!--加载属性文件-->
    <context:property-placeholder location="classpath:*.properties"/>
    <context:component-scan base-package="com.taotao.order.controller,com.taotao.order.interceptor" />
    <mvc:annotation-driven />
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <!--配置用户身份认证的拦截器  拦截订单确认和订单相关的处理-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--** 表示拦截当前路径及其子路径  * 只拦截当前路径-->
            <mvc:mapping path="/order/**"/>
            <bean class="com.taotao.order.interceptor.LoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>



    <!-- 引用dubbo服务 -->
    <dubbo:application name="taotao-order-web"/>
    <dubbo:registry protocol="zookeeper" address="192.168.25.128:2181"/>
    <dubbo:reference interface="com.taotao.cart.service.CartService" id="cartService" timeout="300000"/>
    <dubbo:reference interface="com.taotao.sso.service.IUserLoginService" id="iUserLoginService" timeout="300000"/>
    <dubbo:reference interface="com.taotao.order.service.OrderService" id="orderService" timeout="300000"/>

</beans>